{
	"openapi": "3.0.2",
	"info": {
		"description": "Bitdefender MSP API Documentation\n\nBefore you start working with this API keep in mind the following:\n* the API is authenticated and rate limited; once you reached your daily quota, no more requests will be accepted (keep an eye for the HTTP status code 429)\n* some APIs have default values for some parameters; any request made where the defaults are used will result in overriding the previous value with the default value (e.g. if the parameter `x` has the default value `y`, then not providing the parameter `x`  will result in overriding the existing value of `x` - say `z` - with `y`)\n* For some query-string/URL parameters additional details about their validation can be found in the `Schemas` section\n",
		"version": "PRODUCTION",
		"title": "Bitdefender MSP"
	},
	"servers": [
		{
			"url": "https://msp.bitdefender.com"
		}
	],
	"tags": [
		{
			"name": "Organizations",
			"description": "Entity that manages subscribers and other organizations"
		},
		{
			"name": "Business users",
			"description": "Privileged users who manage one or many organizations"
		},
		{
			"name": "Subscribers",
			"description": "End user of Bitdefender applications, who has his subscription managed by an organization"
		},
		{
			"name": "Roles",
			"description": "Sets of permissions on MSP functionalities."
		},
		{
			"name": "Products",
			"description": "Bundles of subscriptions for Bitdefender applications, which can be assigned to subscribers."
		},
		{
			"name": "Subscriptions",
			"description": "Lists of subscriptions bundles assigned to subscribers."
		},
		{
			"name": "Keys",
			"description": "API keys used for backend to backend integration"
		},
		{
			"name": "Tasks",
			"description": "Long running operations performed for large quantities of data."
		},
		{
			"name": "Resources",
			"description": "API routes for which permissions can be granted."
		},
		{
			"name": "GDPR",
			"description": "GDPR requests"
		},
		{
			"name": "Reports",
			"description": "Usage statistics"
		},
		{
			"name": "Logs",
			"description": "Action and access information"
		},
		{
			"name": "Policies",
			"description": "Sets of rules applied to all subscribers managed by an organization."
		},
		{
			"name": "ToS Agreements",
			"description": "Accepted terms of service"
		},
		{
			"name": "Usage reports",
			"description": "Reports, containing the product usage, generated by the parent organizations"
		},
		{
			"name": "Data Events",
			"description": "API routes that allow an organization to subscribe/unsubscribe to event topics available through callback service push mechanism."
		}
	],
	"paths": {
		"/v1/dataEvents": {
			"get": {
				"tags": [
					"Data Events"
				],
				"summary": "List the subscribed topics of an organization",
				"description": "Get the subscribed topics of an organization",
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/EventTopic"
									}
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/InvalidParameters"
					},
					"401": {
						"$ref": "#/components/responses/InvalidCredentials"
					},
					"403": {
						"$ref": "#/components/responses/InsufficientPermissions"
					},
					"409": {
						"description": "Processing error due to violations of API restrictions",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiError"
								},
								"examples": {
									"Organization callback service information not set": {
										"$ref": "#/components/examples/OrganizationCallbackServiceNotSetError"
									}
								}
							}
						}
					},
					"429": {
						"$ref": "#/components/responses/RateLimitExceeded"
					},
					"500": {
						"$ref": "#/components/responses/ServerError"
					}
				}
			},
			"delete": {
				"tags": [
					"Data Events"
				],
				"summary": "Unsubscribe to all topics",
				"description": "Unsubscribe to all topics of the organization",
				"responses": {
					"200": {
						"$ref": "#/components/responses/GenericSuccess"
					},
					"400": {
						"$ref": "#/components/responses/InvalidParameters"
					},
					"401": {
						"$ref": "#/components/responses/InvalidCredentials"
					},
					"403": {
						"$ref": "#/components/responses/InsufficientPermissions"
					},
					"409": {
						"description": "Processing error due to violations of API restrictions",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiError"
								},
								"examples": {
									"Organization callback service information not set": {
										"$ref": "#/components/examples/OrganizationCallbackServiceNotSetError"
									}
								}
							}
						}
					},
					"429": {
						"$ref": "#/components/responses/RateLimitExceeded"
					},
					"500": {
						"$ref": "#/components/responses/ServerError"
					}
				}
			},
			"post": {
				"tags": [
					"Data Events"
				],
				"summary": "Subscribe to a list of topics",
				"description": "Subscribe to all topics in the request body. \n\nSubscription to `device-created`, `device-changed` and `device-removed` events is performed only for organization with `Install Statistics` feature, and `threats-detected` event for those with `Threats` feature enabled.\n",
				"requestBody": {
					"description": "The topics the organization should subscribe to",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"topics": {
										"type": "array",
										"items": {
											"$ref": "#/components/schemas/EventTopic"
										}
									}
								},
								"required": [
									"topics"
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"$ref": "#/components/responses/GenericSuccess"
					},
					"400": {
						"$ref": "#/components/responses/InvalidParameters"
					},
					"401": {
						"$ref": "#/components/responses/InvalidCredentials"
					},
					"403": {
						"$ref": "#/components/responses/InsufficientPermissions"
					},
					"409": {
						"description": "Processing error due to violations of API restrictions",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiError"
								},
								"examples": {
									"Organization callback service information not set": {
										"$ref": "#/components/examples/OrganizationCallbackServiceNotSetError"
									},
									"Device topics allowed only for organization with install statistics": {
										"$ref": "#/components/examples/DeviceTopicsNotAllowedError"
									},
									"Threat topic allowed only for organization with threat feature enabled": {
										"$ref": "#/components/examples/ThreatTopicNotAllowedError"
									}
								}
							}
						}
					},
					"429": {
						"$ref": "#/components/responses/RateLimitExceeded"
					},
					"500": {
						"$ref": "#/components/responses/ServerError"
					}
				}
			}
		},
		"/v1/dataEvents/{eventTopic}": {
			"delete": {
				"tags": [
					"Data Events"
				],
				"summary": "Unsubscribe to an event topic.",
				"description": "Unsubscribe to an event topic.\n\nUnsubscription to `device-created`, `device-changed` and `device-removed` events are performed only for organization with `Install Statistics` feature enabled, and `threats-detected` event for those with `Threats` feature enabled.'\n",
				"parameters": [
					{
						"$ref": "#/components/parameters/EventTopic"
					}
				],
				"responses": {
					"200": {
						"$ref": "#/components/responses/GenericSuccess"
					},
					"400": {
						"$ref": "#/components/responses/InvalidParameters"
					},
					"401": {
						"$ref": "#/components/responses/InvalidCredentials"
					},
					"403": {
						"$ref": "#/components/responses/InsufficientPermissions"
					},
					"409": {
						"description": "Processing error due to violations of API restrictions",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiError"
								},
								"examples": {
									"Organization callback service information not set": {
										"$ref": "#/components/examples/OrganizationCallbackServiceNotSetError"
									},
									"Device topics allowed only for organization with install statistics": {
										"$ref": "#/components/examples/DeviceTopicsNotAllowedError"
									},
									"Threat topic allowed only for organization with threat feature enabled": {
										"$ref": "#/components/examples/ThreatTopicNotAllowedError"
									}
								}
							}
						}
					},
					"429": {
						"$ref": "#/components/responses/RateLimitExceeded"
					},
					"500": {
						"$ref": "#/components/responses/ServerError"
					}
				}
			},
			"post": {
				"tags": [
					"Data Events"
				],
				"summary": "Subscribe to an event topic",
				"description": "Subscribe the organization to an event topic. \n\nSubscription to `device-created`, `device-changed` and `device-removed` events are performed only for organization with `Install Statistics` feature enabled, and `threats-detected` event for those with `Threats` feature enabled.\n",
				"parameters": [
					{
						"$ref": "#/components/parameters/EventTopic"
					}
				],
				"responses": {
					"200": {
						"$ref": "#/components/responses/GenericSuccess"
					},
					"400": {
						"$ref": "#/components/responses/InvalidParameters"
					},
					"401": {
						"$ref": "#/components/responses/InvalidCredentials"
					},
					"403": {
						"$ref": "#/components/responses/InsufficientPermissions"
					},
					"409": {
						"description": "Processing error due to violations of API restrictions",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiError"
								},
								"examples": {
									"Organization callback service information not set": {
										"$ref": "#/components/examples/OrganizationCallbackServiceNotSetError"
									},
									"Device topics allowed only for organization with install statistics": {
										"$ref": "#/components/examples/DeviceTopicsNotAllowedError"
									}
								}
							}
						}
					},
					"429": {
						"$ref": "#/components/responses/RateLimitExceeded"
					},
					"500": {
						"$ref": "#/components/responses/ServerError"
					}
				}
			}
		},
		"/v1/organizations/{organizationId}": {
			"get": {
				"tags": [
					"Organizations"
				],
				"summary": "Obtain information about an organization",
				"description": "Get a managed organization's information. If the business user/ API key cannot manage the retrieved organization, the information about the login services (`login_type`), subscriber default language (`lang`) and terms of service (`tos`) are not returned.",
				"parameters": [
					{
						"$ref": "#/components/parameters/OrganizationId"
					}
				],
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Organization"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/InvalidParameters"
					},
					"401": {
						"$ref": "#/components/responses/InvalidCredentials"
					},
					"403": {
						"$ref": "#/components/responses/InsufficientPermissions"
					},
					"404": {
						"$ref": "#/components/responses/OrganizationNotFound"
					},
					"429": {
						"$ref": "#/components/responses/RateLimitExceeded"
					},
					"500": {
						"$ref": "#/components/responses/ServerError"
					}
				}
			},
			"delete": {
				"tags": [
					"Organizations"
				],
				"summary": "Delete organization",
				"description": "Completely remove the organization specified by organizationId. An organization can be deleted only if it has been suspended for at least 1 day.",
				"parameters": [
					{
						"$ref": "#/components/parameters/OrganizationId"
					}
				],
				"responses": {
					"200": {
						"$ref": "#/components/responses/GenericSuccess"
					},
					"400": {
						"$ref": "#/components/responses/InvalidParameters"
					},
					"401": {
						"$ref": "#/components/responses/InvalidCredentials"
					},
					"403": {
						"$ref": "#/components/responses/InsufficientPermissions"
					},
					"404": {
						"$ref": "#/components/responses/OrganizationNotFound"
					},
					"409": {
						"description": "Processing error due to violations of API restrictions",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiError"
								},
								"examples": {
									"Organization not suspended": {
										"value": {
											"error_id": "92712683-d548-417e-9712-35be4f2a28ba",
											"message": "Organization is not suspended",
											"code": 677022,
											"status": "error"
										}
									},
									"Not enough time has passed to remove organization": {
										"value": {
											"error_id": "92712683-d548-417e-9712-35be4f2a28ba",
											"message": "Too early to remove this organization.",
											"code": 677021,
											"status": "error"
										}
									},
									"Organization still has subscribers": {
										"value": {
											"error_id": "7a1aef7b-0099-48e5-8fa4-d44f055fc0f2",
											"message": "Cannot delete an organization which still has subscribers",
											"code": 677029,
											"status": "error"
										}
									}
								}
							}
						}
					},
					"429": {
						"$ref": "#/components/responses/RateLimitExceeded"
					},
					"500": {
						"$ref": "#/components/responses/ServerError"
					}
				}
			},
			"patch": {
				"tags": [
					"Organizations"
				],
				"summary": "Update organization information.",
				"parameters": [
					{
						"$ref": "#/components/parameters/OrganizationId"
					}
				],
				"requestBody": {
					"description": "The following attributes can be changed for a child organization: \n*  `organization_label`\n*  `suspended`\n*  `subscriber_limit`\n*  `organization_type`\n\nAt least one of the above must be present in the request payload and any combination ca be used.\n\nAn OEM organization type can be changed only with another OEM organization type.\nNote that the `organization_type` cannot be changed for a `system integrator` organization.\n",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"organization_label": {
										"allOf": [
											{
												"$ref": "#/components/schemas/Organization/properties/organization_label"
											}
										]
									},
									"subscriber_limit": {
										"allOf": [
											{
												"$ref": "#/components/schemas/Organization/properties/subscriber_limit"
											}
										]
									},
									"suspended": {
										"allOf": [
											{
												"$ref": "#/components/schemas/Organization/properties/suspended"
											}
										]
									},
									"organization_type": {
										"type": "string",
										"example": "operator",
										"description": "The type of the organization. Each organization type has some capabilities:\n ##### `system integrator`\n The _system integrator_ organization is an organization that can manage organizations but cannot manage subscribers.\n ##### `operator`\n The _operator_ organization is an organization that can manage subscribers but cannot manage organizations\n ##### `distributor`\n The _distributor_ organization is an organization that can have manage subscribers and organizations\n ##### `oem_operator`\n The _oem_operator_ organization is an organization that is selling Bitdefender rebranded products and it can manage subscribers.\n ##### `oem_distributor`\n The _oem_distributor_ organization is an organization that is selling Bitdefender rebranded products, and it can manage subscribers and organizations.\n",
										"enum": [
											"system integrator",
											"operator",
											"distributor",
											"oem_distributor",
											"oem_operator"
										]
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"$ref": "#/components/responses/GenericSuccess"
					},
					"400": {
						"$ref": "#/components/responses/InvalidParameters"
					},
					"401": {
						"$ref": "#/components/responses/InvalidCredentials"
					},
					"403": {
						"$ref": "#/components/responses/InsufficientPermissions"
					},
					"404": {
						"$ref": "#/components/responses/OrganizationNotFound"
					},
					"409": {
						"description": "Processing error due to violations of API restrictions",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiError"
								},
								"examples": {
									"Invalid organization type transition": {
										"value": {
											"error_id": "aa4a685d-13bc-4015-a174-8eb66645e8e6",
											"code": 677025,
											"status": "error",
											"message": "Invalid organization type transition"
										}
									}
								}
							}
						}
					},
					"429": {
						"$ref": "#/components/responses/RateLimitExceeded"
					},
					"500": {
						"$ref": "#/components/responses/ServerError"
					}
				}
			}
		},
		"/v1/organizations": {
			"post": {
				"tags": [
					"Organizations"
				],
				"summary": "Create a new organization",
				"description": "Create a new organization that will be managed by current organization. The will be created using parameters are mandatory when creating a new organization:\n  *  `organization_label` \n  *  `organization_type`\n  *  `subscriber_limit`\n\nThe `subscriber_limit` for the created organization must not exceed the allocated quota for the parent organization.\nThe `organization_level` of the created organization is inherited from the parent organization, if it is set, otherwise is set by default to 1.\n",
				"requestBody": {
					"description": "Properties of created organization.",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"organization_label": {
										"allOf": [
											{
												"$ref": "#/components/schemas/Organization/properties/organization_label"
											}
										]
									},
									"organization_type": {
										"allOf": [
											{
												"$ref": "#/components/schemas/Organization/properties/organization_type"
											}
										]
									},
									"subscriber_limit": {
										"allOf": [
											{
												"$ref": "#/components/schemas/Organization/properties/subscriber_limit"
											}
										]
									}
								},
								"required": [
									"organization_label",
									"organization_type",
									"subscriber_limit"
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"organization_id": {
											"$ref": "#/components/schemas/Organization/properties/organization_id"
										}
									}
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/InvalidParameters"
					},
					"401": {
						"$ref": "#/components/responses/InvalidCredentials"
					},
					"403": {
						"$ref": "#/components/responses/InsufficientPermissions"
					},
					"409": {
						"description": "Subscriber limit exceed for parent organization",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiError"
								},
								"examples": {
									"Subscriber limit exceeded": {
										"$ref": "#/components/examples/LimitExceededError"
									},
									"Unapproved organization cannot create managed organization": {
										"value": {
											"error_id": "9b5de11c-0707-492f-b834-7b5e8df77d80",
											"code": 677049,
											"status": "error",
											"message": "Unapproved organization cannot create other organizations"
										}
									},
									"Invalid organization type for this operation": {
										"value": {
											"error_id": "9b5de11c-0707-492f-b834-7b5e8df77d80",
											"code": 677025,
											"status": "error",
											"message": "Invalid organization type for this operation"
										}
									}
								}
							}
						}
					},
					"429": {
						"$ref": "#/components/responses/RateLimitExceeded"
					},
					"500": {
						"$ref": "#/components/responses/ServerError"
					}
				}
			},
			"get": {
				"tags": [
					"Organizations"
				],
				"summary": "Get information about current organization",
				"description": "Get information about the organization manged by the business user/ API key used to make the request.\n",
				"responses": {
					"200": {
						"description": "successful operation",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/Organization"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/InvalidParameters"
					},
					"401": {
						"$ref": "#/components/responses/InvalidCredentials"
					},
					"403": {
						"$ref": "#/components/responses/InsufficientPermissions"
					},
					"404": {
						"$ref": "#/components/responses/OrganizationNotFound"
					},
					"429": {
						"$ref": "#/components/responses/RateLimitExceeded"
					},
					"500": {
						"$ref": "#/components/responses/ServerError"
					}
				}
			},
			"patch": {
				"tags": [
					"Organizations"
				],
				"summary": "Update information about current organization.",
				"requestBody": {
					"description": "The following properties can be changed for the current organization\n*  `organization_logo`\n*  `organization_logo_id`\n*  `organization_name`\n*  `business_user_invite`\n*  `business_user_domains`\n*  `organization_website`\n*  `central_url`\n*  `customer_contact`\n*  `commercial_contact`\n*  `login_type`\n*  `lang`\n*  `callback_service`\n*  `epaas_webhook`\n\nThe type of login can only be set once and cannot be modified at a later time. However, all other login parameters except `type` can be modified at a later time. When modifying any subfield of `login_type`, the parameter `type` must exist and have the current value. Example - when an organization wants to enable the enrol emails:\n``` {\n    login_type: {\n      type: \"bitdefender\",\n      send_email : true\n    }\n}\n```\nAlso, when setting an external `login_type`, the property `allow_sso_inheritance` is set by default to 'true'\n",
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"organization_name": {
										"allOf": [
											{
												"$ref": "#/components/schemas/Organization/properties/organization_name"
											}
										]
									},
									"organization_logo": {
										"allOf": [
											{
												"$ref": "#/components/schemas/Organization/properties/organization_logo"
											}
										]
									},
									"organization_logo_id": {
										"allOf": [
											{
												"$ref": "#/components/schemas/Organization/properties/organization_logo_id"
											}
										]
									},
									"business_user_invite": {
										"allOf": [
											{
												"$ref": "#/components/schemas/Organization/properties/business_user_invite"
											}
										]
									},
									"business_user_domains": {
										"allOf": [
											{
												"$ref": "#/components/schemas/Organization/properties/business_user_domains"
											}
										]
									},
									"organization_website": {
										"allOf": [
											{
												"$ref": "#/components/schemas/Organization/properties/organization_website"
											}
										]
									},
									"central_url": {
										"allOf": [
											{
												"$ref": "#/components/schemas/Organization/properties/central_url"
											}
										]
									},
									"customer_contact": {
										"allOf": [
											{
												"$ref": "#/components/schemas/Organization/properties/customer_contact"
											}
										]
									},
									"commercial_contact": {
										"allOf": [
											{
												"$ref": "#/components/schemas/Organization/properties/commercial_contact"
											}
										]
									},
									"login_type": {
										"description": "The login services used by subscribers to login in the Bitdefender applications",
										"oneOf": [
											{
												"$ref": "#/components/schemas/BitdefenderLogin"
											},
											{
												"$ref": "#/components/schemas/ExternalImplicitLogin"
											},
											{
												"$ref": "#/components/schemas/ExternalOauthLogin"
											},
											{
												"$ref": "#/components/schemas/OtpLogin"
											},
											{
												"$ref": "#/components/schemas/InheritedLoginUpdate"
											}
										],
										"example": {
											"type": "bitdefender",
											"send_email": true
										}
									},
									"lang": {
										"allOf": [
											{
												"$ref": "#/components/schemas/Organization/properties/lang"
											}
										]
									},
									"callback_service": {
										"allOf": [
											{
												"$ref": "#/components/schemas/Organization/properties/callback_service"
											}
										]
									},
									"epaas_webhook": {
										"allOf": [
											{
												"$ref": "#/components/schemas/Organization/properties/epaas_webhook"
											}
										]
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"$ref": "#/components/responses/GenericSuccess"
					},
					"400": {
						"$ref": "#/components/responses/InvalidParameters"
					},
					"401": {
						"$ref": "#/components/responses/InvalidCredentials"
					},
					"403": {
						"$ref": "#/components/responses/InsufficientPermissions"
					},
					"404": {
						"$ref": "#/components/responses/OrganizationNotFound"
					},
					"409": {
						"description": "Processing error due to violations of API restrictions",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiError"
								},
								"examples": {
									"Invalid organization type transition": {
										"description": "Changing the organization type of an OEM organization to an non OEM type is not allowed. Changing the organization type of a system integrator is not allowed",
										"value": {
											"error_id": "9b5de11c-0707-492f-b834-7b5e8df77d80",
											"code": 677012,
											"status": "error",
											"message": "Invalid organization type transition"
										}
									},
									"Login type otp cannot be set for organization without OTP feature": {
										"description": "In order to be able to set login_type to otp, the organization plan must have the OTP feature enabled.",
										"value": {
											"error_id": "aff2af36-9e1b-435d-b8ca-56c7dcb20851",
											"code": 677046,
											"status": "error",
											"message": "The OTP feature is not available"
										}
									},
									"Cannot set implicit login type": {
										"description": "The implicit external SSO is deprecated and cannot be used to configure an organization that does not already have the implicit configuration set.",
										"value": {
											"error_id": "9b5de11c-0707-492f-b834-7b5e8df77d80",
											"code": 677028,
											"status": "error",
											"message": "Cannot set external implicit SSO"
										}
									},
									"Cannot update an unapproved organization": {
										"description": "Each new organization requires approval in order to be configured.",
										"value": {
											"error_id": "9b5de11c-0707-492f-b834-7b5e8df77d80",
											"code": 677049,
											"status": "error",
											"message": "The organization is not approved"
										}
									},
									"EPAAS webhook cannot be set for an organization without EPAAS feature": {
										"description": "The `epaas_webhook` configuration is available only for organization that have the EPAAS feature enabled.",
										"value": {
											"error_id": "61d518f8-c1fb-4448-8510-181ca872b75c",
											"code": 677046,
											"status": "error",
											"message": "The EPAAS feature is not available"
										}
									},
									"SSO authorization skip can be used only for an organization that has the EPAAS feature enabled": {
										"description": "The `skip` option for the authorization configuration of the authorization code SSO is available only for the organization that have the EPAAS feature enabled.",
										"value": {
											"error_id": "9a5da2ec-92cb-42a3-8292-28c746229203",
											"code": 677046,
											"status": "error",
											"message": "The EPAAS feature is not available"
										}
									},
									"The organization to be inherited is not valid": {
										"description": "The organization to be inherited is not eligible of SSO inheritance",
										"value": {
											"error_id": "9a5da2ec-92cb-42a3-8292-28c746229203",
											"code": 677050,
											"status": "error",
											"message": "The organization to be inherited is not valid"
										}
									},
									"The organization already inherits SSO": {
										"description": "The organization already inherits SSO",
										"value": {
											"error_id": "9a5da2ec-92cb-42a3-8292-28c746229203",
											"code": 677052,
											"status": "error",
											"message": "The organization already inherits SSO"
										}
									}
								}
							}
						}
					},
					"429": {
						"$ref": "#/components/responses/RateLimitExceeded"
					},
					"500": {
						"$ref": "#/components/responses/ServerError"
					}
				}
			}
		},
		"/v1/organizations/me/inheritableSso": {
			"get": {
				"tags": [
					"Organizations"
				],
				"summary": "Get the SSO configuration that can inherited from the parent organizations.",
				"description": "To qualify for inheritance, an organization must meet the following criteria:\n1. The `login_type.allow_sso_inheritance` is set to `true`\n2. The `login_type.type` is anything other than `inherited`, and for organizations that have `login_type.type`: `bitdefender` the organization type must also be `oem`\n\nAlso, the organization that has a non-OEM type cannot inherit the SSO configuration from an organization that has an OEM type.\nAlso, the organization that has a OEM type cannot inherit the SSO configuration from an organization that has an non-OEM type.\n",
				"responses": {
					"200": {
						"description": "Successful response",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"inheritable_sso": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"organization_id": {
														"type": "string",
														"example": "7464eab7-6b29-4fd6-82a2-e40d6264a390"
													},
													"organization_label": {
														"type": "string",
														"example": "Bitdefender"
													},
													"organization_name": {
														"type": "string",
														"example": "Bitdefender"
													}
												}
											}
										}
									}
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/InvalidParameters"
					},
					"401": {
						"$ref": "#/components/responses/InvalidCredentials"
					},
					"403": {
						"$ref": "#/components/responses/InsufficientPermissions"
					},
					"404": {
						"$ref": "#/components/responses/OrganizationNotFound"
					},
					"429": {
						"$ref": "#/components/responses/RateLimitExceeded"
					},
					"500": {
						"$ref": "#/components/responses/ServerError"
					}
				}
			}
		},
		"/v1/organizations/{organizationId}/tree": {
			"get": {
				"tags": [
					"Organizations"
				],
				"summary": "Get tree of suborganizations for organization with specified ID.",
				"description": "Returns a human-readable tree of all the organizations managed by the one identified by organization ID.\\\nFor each organization listed, the following fields will be displayed:\n*  **created**: timestamp when organization was created\n*  **last_updated**: timestamp when organization was last modified\n*  **organization_name**: organization name seen by subscribers in Bitdefender Central\n*  **organization_type**: one of the following 3 types of organizations:\n    *    **operator**: can have subscribers, cannot manage organizations\n    *    **distributor**: can have subscribers, cannot manage organizations\n    *    **system integrator**: cannot have subscribers, can manage other organizations\n*  **parent_id**: string that identifies parent organization\n*  **suspended**: boolean indicating whether organization is suspended\n*  **organization_id**: string identifying organization\n*  **plan**: API requests quota pricing plan\n    *    **apikey**: number of requests that can be sent using an organization's API Key in 20 minutes time frame.\n    *    **organization**: total API requests available for organization in a day\n    *    **name**: plan name\n*  **suborganizations**: a list of organizations managed by this organization. Objects in this array will contain the same properties or it will be empty.\n",
				"parameters": [
					{
						"$ref": "#/components/parameters/OrganizationId"
					}
				],
				"responses": {
					"200": {
						"description": "Valid request.",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"created": {
											"type": "number"
										},
										"organization_name": {
											"type": "string"
										},
										"suspended": {
											"type": "boolean"
										},
										"organization_type": {
											"type": "string",
											"enum": [
												"operator",
												"distributor",
												"system integrator"
											]
										},
										"suborganizations": {
											"type": "array",
											"items": {
												"type": "object"
											}
										}
									}
								},
								"example": {
									"created": 1550057174000,
									"last_updated": 1550064497656,
									"organization_name": "ParentOrganization",
									"organization_type": "distributor",
									"parent_id": "ac90019f-6713-49c1-bd56-242d7040176e",
									"suspended": false,
									"organization_id": "0019addb-6b29-4fd6-82a2-e40d6264a440",
									"suborganizations": [
										{
											"created": 1551286216000,
											"organization_label": "ChildOrganizationLabel1",
											"organization_name": "ChildOrganizationName1",
											"organization_type": "distributor",
											"parent_id": "0019addb-6b29-4fd6-82a2-e40d6264a440",
											"suspended": false,
											"organization_id": "89fbf8d7-a1f3-4079-b6db-1c445fc7b8aa",
											"suborganizations": []
										},
										{
											"created": 1551278529000,
											"organization_label": "ChildOrganizationName2",
											"organization_name": "ChildOrganizationName1",
											"organization_type": "operator",
											"parent_id": "0019addb-6b29-4fd6-82a2-e40d6264a440",
											"suspended": false,
											"organization_id": "18479eda-61f3-4dab-ac36-8652510cb665",
											"suborganizations": []
										}
									]
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/InvalidParameters"
					},
					"401": {
						"$ref": "#/components/responses/InvalidCredentials"
					},
					"403": {
						"$ref": "#/components/responses/InsufficientPermissions"
					},
					"404": {
						"$ref": "#/components/responses/OrganizationNotFound"
					},
					"429": {
						"$ref": "#/components/responses/RateLimitExceeded"
					},
					"500": {
						"$ref": "#/components/responses/ServerError"
					}
				}
			}
		},
		"/v1/organizations/{organizationId}/businessUsers": {
			"get": {
				"tags": [
					"Business users"
				],
				"summary": "Retrieve organization's business users.",
				"description": "List all business users for a managed organization. For each business user, the following information will be displayed\n* **user_id**: string identifying that business user\n* **organization_id**: organization to which the business user belongs to\n* **email**: email address\n* **roles**: an array containing the roles assigned to this user\n* **state**: *active* or *pending*, depending if the account was confirmed or not.\n",
				"parameters": [
					{
						"$ref": "#/components/parameters/OrganizationId"
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"user_id": {
												"type": "string",
												"example": "1e8fc839-6df4-4b4d-b8b2-eea9015ef05d"
											},
											"email": {
												"type": "string",
												"example": "businessUser1@domain.com"
											},
											"organization_id": {
												"type": "string",
												"example": "7464eab7-6b29-4fd6-82a2-e40d6264a390"
											},
											"roles": {
												"type": "array",
												"items": {
													"type": "string",
													"enum": [
														"active",
														"pending"
													]
												}
											}
										}
									}
								}
							}
						}
					},
					"404": {
						"description": "Resource not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiError"
								},
								"examples": {
									"Organization not found": {
										"value": {
											"error_id": "aff2af36-9e1b-435d-b8ca-56c7dcb20851",
											"message": "Organization not found",
											"code": 677013,
											"status": "error"
										}
									}
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Business users"
				],
				"summary": "Create a new business user for the organization",
				"description": "Create a business user for an organization managed by current organization. Required parameters are:\n* **email**: email address\n* **roles**: an array containing the roles assigned to this user\n\nThe new business user will have to create an account in Bitdefender Login. After this, he will be able to access the MSP Console.\n",
				"parameters": [
					{
						"name": "organizationId",
						"description": "Organization ID for which to create a business user. The organization with organizationId must be a direct child of current user's organization.",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"required": true,
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"email": {
										"type": "string",
										"example": "businessUser@bitdefender.com"
									},
									"roles": {
										"type": "array",
										"items": {
											"type": "string",
											"enum": [
												"admin",
												"auditor"
											],
											"example": "admin"
										}
									}
								},
								"required": [
									"email",
									"roles"
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"status": {
											"type": "integer",
											"example": 0
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/v1/organizations/{organizationId}/products": {
			"get": {
				"tags": [
					"Products"
				],
				"summary": "List an organization's products.",
				"parameters": [
					{
						"$ref": "#/components/parameters/OrganizationId"
					}
				],
				"description": "Retrieve the list of products that an organization is allowed to distribute.",
				"responses": {
					"200": {
						"$ref": "#/components/responses/ListOfProducts"
					},
					"400": {
						"$ref": "#/components/responses/InvalidParameters"
					},
					"401": {
						"$ref": "#/components/responses/InvalidCredentials"
					},
					"403": {
						"$ref": "#/components/responses/InsufficientPermissions"
					},
					"404": {
						"$ref": "#/components/responses/OrganizationNotFound"
					},
					"429": {
						"$ref": "#/components/responses/RateLimitExceeded"
					},
					"500": {
						"$ref": "#/components/responses/ServerError"
					}
				}
			}
		},
		"/v1/organizations/{organizationId}/products/{productId}": {
			"post": {
				"tags": [
					"Products"
				],
				"summary": "Add a new product to the organization portfolio.",
				"parameters": [
					{
						"$ref": "#/components/parameters/OrganizationId"
					},
					{
						"$ref": "#/components/parameters/ProductId"
					}
				],
				"description": "Enable the specified organization to resell a product identified by productId. It is mandatory that the current organization has that productId in its list of products and that it is not suspended. \\\nA suborganization with an enabled product can apply it to its subscribers or can enable it to its own managed organizations.\nFor organization that are OEM operators, the assigned product must support the OEM label associated with the organization that is receiving the product, except if that organization's type is `system_operator`.\n",
				"responses": {
					"200": {
						"$ref": "#/components/responses/GenericSuccess"
					},
					"400": {
						"$ref": "#/components/responses/InvalidParameters"
					},
					"401": {
						"$ref": "#/components/responses/InvalidCredentials"
					},
					"403": {
						"$ref": "#/components/responses/InsufficientPermissions"
					},
					"404": {
						"$ref": "#/components/responses/OrganizationNotFound"
					},
					"409": {
						"description": "Processing error due to violations of API restrictions",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiError"
								},
								"examples": {
									"Product is not owned": {
										"value": {
											"error_id": "6c583d80-d532-4088-a48f-fc6960f56719",
											"code": 677013,
											"status": "error",
											"message": "Cannot add products that are not owned"
										}
									},
									"Product is suspended": {
										"value": {
											"error_id": "79ec532c-39f0-477a-a827-df3ab62fed91",
											"code": 677026,
											"status": "error",
											"message": "Product suspended"
										}
									},
									"Unsupported OEM label": {
										"value": {
											"error_id": "48d5f4b8-6816-4f38-be92-5e1d71d54492",
											"code": 677035,
											"status": "error",
											"message": "Unsupported OEM label"
										}
									}
								}
							}
						}
					},
					"422": {
						"description": "Product already owned",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiError"
								},
								"examples": {
									"Product already owned": {
										"value": {
											"error_id": "79cf7288-c9dc-4c47-a388-c5ae125fd5c3",
											"code": 677020,
											"status": "error",
											"message": "Product already present"
										}
									}
								}
							}
						}
					},
					"429": {
						"$ref": "#/components/responses/RateLimitExceeded"
					},
					"500": {
						"$ref": "#/components/responses/ServerError"
					}
				}
			},
			"patch": {
				"tags": [
					"Products"
				],
				"summary": "Suspends or resumes the product for the organization.",
				"parameters": [
					{
						"$ref": "#/components/parameters/OrganizationId"
					},
					{
						"$ref": "#/components/parameters/ProductId"
					}
				],
				"description": "Suspends or resumes a product for a child organization. Once suspended, the product cannot be applied to subscribers or resold to suborganizations. The product suspension status will propagate to all the suborganizations in the managed tree which were affected by a previous change to the product's status.\n\nRequest body has one field:\n* **suspended** : *true* or *false*\n",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"suspended": {
										"type": "boolean"
									}
								},
								"required": [
									"suspended"
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"$ref": "#/components/responses/GenericSuccess"
					},
					"400": {
						"$ref": "#/components/responses/InvalidParameters"
					},
					"401": {
						"$ref": "#/components/responses/InvalidCredentials"
					},
					"403": {
						"$ref": "#/components/responses/InsufficientPermissions"
					},
					"404": {
						"$ref": "#/components/responses/OrganizationNotFound"
					},
					"409": {
						"description": "Processing error due to violations of API restrictions",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiError"
								},
								"examples": {
									"Product is not owned": {
										"value": {
											"error_id": "6c583d80-d532-4088-a48f-fc6960f56719",
											"code": 677013,
											"status": "error",
											"message": "Cannot add products that are not owned"
										}
									},
									"Product is suspended": {
										"value": {
											"error_id": "79ec532c-39f0-477a-a827-df3ab62fed91",
											"code": 677026,
											"status": "error",
											"message": "Product suspended"
										}
									}
								}
							}
						}
					},
					"422": {
						"description": "Product already owned",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiError"
								},
								"examples": {
									"Product already owned": {
										"value": {
											"error_id": "79cf7288-c9dc-4c47-a388-c5ae125fd5c3",
											"code": 677020,
											"status": "error",
											"message": "Product already present"
										}
									}
								}
							}
						}
					},
					"429": {
						"$ref": "#/components/responses/RateLimitExceeded"
					},
					"500": {
						"$ref": "#/components/responses/ServerError"
					}
				}
			}
		},
		"/v1/organizations/{organizationId}/businessUsers/{userId}": {
			"delete": {
				"summary": "Delete business user for managed organization",
				"tags": [
					"Business users"
				],
				"description": "Remove a business user from a managed organization. The organization must be a direct child of current organization.\n",
				"parameters": [
					{
						"$ref": "#/components/parameters/OrganizationId"
					},
					{
						"$ref": "#/components/parameters/UserId"
					}
				],
				"responses": {
					"200": {
						"$ref": "#/components/responses/GenericSuccess"
					},
					"404": {
						"description": "Resource not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiError"
								},
								"examples": {
									"Business user does not exist": {
										"value": {
											"error_id": "aff2af36-9e1b-435d-b8ca-56c7dcb20851",
											"message": "Business user not found",
											"code": 677013,
											"status": "error"
										}
									},
									"Organization does not exist": {
										"value": {
											"error_id": "aff2af36-9e1b-435d-b8ca-56c7dcb20851",
											"message": "Organization user not found",
											"code": 677013,
											"status": "error"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/v1/businessUsers/me/accessLogs": {
			"get": {
				"tags": [
					"Business users"
				],
				"summary": "Obtain the access logs for the current business user.",
				"description": "Access logs contain information about when the users log in the MSP Console. This request will work with authorization type Bearer. It will return an error if Authorization header is Api Key.",
				"parameters": [
					{
						"$ref": "#/components/parameters/Page"
					},
					{
						"$ref": "#/components/parameters/Limit"
					},
					{
						"name": "from",
						"in": "query",
						"description": "The beginning of time period desired to view the logs",
						"schema": {
							"$ref": "#/components/schemas/Timestamp"
						}
					},
					{
						"name": "to",
						"in": "query",
						"description": "The ending of time period desired to view the logs",
						"schema": {
							"$ref": "#/components/schemas/Timestamp"
						}
					}
				],
				"responses": {
					"200": {
						"description": "List of access logs",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"logs": {
											"type": "array",
											"items": {
												"$ref": "#/components/schemas/AccessLog"
											}
										},
										"count": {
											"$ref": "#/components/schemas/QueryCount"
										}
									}
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/InvalidParameters"
					},
					"401": {
						"$ref": "#/components/responses/InvalidCredentials"
					},
					"403": {
						"$ref": "#/components/responses/InsufficientPermissions"
					},
					"404": {
						"$ref": "#/components/responses/BusinessUserNotFound"
					},
					"429": {
						"$ref": "#/components/responses/RateLimitExceeded"
					},
					"500": {
						"$ref": "#/components/responses/ServerError"
					}
				}
			}
		},
		"/v1/businessUsers/{userId}": {
			"get": {
				"tags": [
					"Business users"
				],
				"summary": "Get information about a business user",
				"description": "Get information about a business user who is member in the same organization as current business user. **userId** can also have the special value **me**, which will return information about current user. For the latter, it is mandatory that Authorization type is Bearer token. The response will contain the following information:\n* **user_id**: string identifying the business user\n* **organization_id**: string identifying the organization the business user belongs to.\n* **email**: e-mail address of the user\n* **roles**: list of roles assigned to the user\n* **state**: *active* or *pending*, whether the user has activated his account or not\n",
				"parameters": [
					{
						"$ref": "#/components/parameters/UserId"
					}
				],
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BusinessUser"
								}
							}
						}
					},
					"404": {
						"description": "Resource not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiError"
								},
								"examples": {
									"Business user not found": {
										"value": {
											"error_id": "aff2af36-9e1b-435d-b8ca-56c7dcb20851",
											"message": "Business user not found",
											"code": 677013,
											"status": "error"
										}
									}
								}
							}
						}
					}
				}
			},
			"patch": {
				"tags": [
					"Business users"
				],
				"summary": "Update business user",
				"description": "Update information about a business user. Fields that can be changed are:\n* **state**: enable or disable an account. Possible values are *active* or *inactive*.\n* **roles** object with either of these properties\n  * **add**: array of roles to add to business user\n  * **remove**: array of roles to be removed from business user\n\nOne business user cannot update its own properties.\n",
				"parameters": [
					{
						"$ref": "#/components/parameters/UserId"
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"state": {
										"type": "string",
										"enum": [
											"active",
											"inactive"
										],
										"example": "inactive"
									},
									"roles": {
										"type": "object",
										"properties": {
											"add": {
												"type": "array",
												"items": {
													"type": "string"
												},
												"example": [
													"admin",
													"40736957-6e85-44fc-9671-7751c00a6ff7"
												]
											},
											"remove": {
												"type": "array",
												"items": {
													"type": "string"
												},
												"example": [
													"admin",
													"integration_manager",
													"reseller_admin",
													"subscriber_manager",
													"auditor"
												]
											}
										}
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Operation succeeded",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"status": {
											"type": "integer",
											"example": 0
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Invalid operation",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiError"
								},
								"examples": {
									"Update own user": {
										"value": {
											"error_id": "aff2af36-9e1b-435d-b8ca-56c7dcb20851",
											"message": "This business user cannot be updated",
											"code": 677012,
											"status": "error"
										}
									}
								}
							}
						}
					}
				}
			},
			"delete": {
				"summary": "Delete business user",
				"tags": [
					"Business users"
				],
				"description": "Delete a business user from current organization. One cannot delete his own account.\n",
				"parameters": [
					{
						"$ref": "#/components/parameters/UserId"
					}
				],
				"responses": {
					"200": {
						"description": "Operation succeeded",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"status": {
											"type": "integer",
											"example": 0
										}
									}
								}
							}
						}
					},
					"400": {
						"description": "Invalid operation",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiError"
								},
								"examples": {
									"Delete own user": {
										"value": {
											"error_id": "aff2af36-9e1b-435d-b8ca-56c7dcb20851",
											"message": "You cannot remove this business user",
											"code": 677012,
											"status": "error"
										}
									}
								}
							}
						}
					},
					"404": {
						"description": "Business user not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiError"
								},
								"examples": {
									"Inexistent business user": {
										"value": {
											"error_id": "aff2af36-9e1b-435d-b8ca-56c7dcb20851",
											"message": "Business user not found",
											"code": 677013,
											"status": "error"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/v1/businessUsers": {
			"get": {
				"tags": [
					"Business users"
				],
				"summary": "List business users for current organization.",
				"description": "Get all business users belonging to current organization.\\\nFor every existing business user, will return the following information:\n  * **user_id**: string identifying the business user\n  * **organization_id**: string identifying the organization the business user belongs to.\n  * **email**: e-mail address of the user\n  * **roles**: list of roles assigned to the user\n  * **state**: *active* or *pending*, whether the user has activated his account\n",
				"responses": {
					"200": {
						"description": "Successful operation",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/BusinessUser"
									}
								},
								"example": [
									{
										"user_id": "91e5ea11-a13c-4fd1-a112-085a115da1c0",
										"organization_id": "ac2f6072-a191-91c1-0d56-912da1191a1e",
										"email": "businessUser2@Organization.com",
										"roles": [
											"admin"
										],
										"state": "active"
									},
									{
										"user_id": "80ac58c7-26a7-9180-aa11-0e39df70a1a6",
										"organization_id": "ac2f6072-a191-91c1-0d56-912da1191a1e",
										"email": "businessUser2@Organization.com",
										"roles": [
											"admin"
										],
										"state": "active"
									},
									{
										"user_id": "a11daace-d659-4e29-06ef-ea11cef912f5",
										"organization_id": "ac2f6072-a191-91c1-0d56-912da1191a1e",
										"email": "businessUser3@Organization.com",
										"roles": [
											"admin"
										],
										"state": "pending"
									}
								]
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Business users"
				],
				"summary": "Create business user for current organization",
				"description": "Create a new business user for current organization.\\\nFor the newly created users, you can specify the following properties:\n* **email**: email address for the business user. He will need to create an account with this email and will use it to log in.\n* **roles**: An array of role names or IDs the business user will have.\n",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"email": {
										"type": "string",
										"format": "email",
										"example": "businessUser1@domain.com"
									},
									"roles": {
										"type": "array",
										"items": {
											"type": "string"
										},
										"example": [
											"admin"
										],
										"minLength": 1
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Success",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"status": {
											"type": "integer",
											"example": 0
										}
									}
								}
							}
						}
					},
					"409": {
						"description": "Processing error due to violations of API restrictions",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiError"
								},
								"examples": {
									"Invalid business user domain": {
										"description": "In order to be able to create a business user, the email domain of the email address should be in the list of allowed domains configured for the organization",
										"value": {
											"error_id": "aff2af36-9e1b-435d-b8ca-56c7dcb20851",
											"code": 677012,
											"status": "error",
											"message": "Invalid email domain for business user"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/v1/keys": {
			"get": {
				"tags": [
					"Keys"
				],
				"summary": "List all API Keys",
				"description": "Get all API Keys of current organization. The following properties will be returned for each API Key:\n* **roles**: array of roles assigned to key.\n* **key**: ID of API Key which can be used to authorize requests.\nMore information about each API Key can be obtained by performing a GET operation at _'/keys/{keyId}'_\n* **key_label**: human-readable key name.\n",
				"responses": {
					"200": {
						"description": "Successful operation",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"roles": {
												"type": "array",
												"items": {
													"type": "string"
												},
												"example": [
													"admin"
												]
											},
											"key": {
												"type": "string",
												"example": "60139ed5-240c-478b-bdd8-86512dcda511"
											},
											"key_label": {
												"type": "string",
												"example": "test key"
											}
										}
									}
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Keys"
				],
				"summary": "Create API Key",
				"description": "Create a new API Key for current organization. Parameters:\n* **roles**: array of roles the new API Key will have. Can be a default role (i.e **admin**, **auditor**, etc.) or a Role ID for a custom created role.\n* **key_label**: human-readable name for API Key.\n\nParameter **roles** is mandatory. The API key will have the permissions of the roles assigned.\n",
				"requestBody": {
					"description": "JSON containing desired roles for new API Key.",
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"roles": {
										"type": "array",
										"items": {
											"type": "string",
											"enum": [
												"admin",
												"integration_manager",
												"reseller_admin",
												"subscriber_manager",
												"auditor"
											],
											"example": "admin"
										}
									},
									"key_label": {
										"type": "string",
										"example": "staging key"
									}
								},
								"required": [
									"roles"
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Returns generated API Key.",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"token": {
											"type": "string",
											"example": "7beb8ba4-c8d2-49b2-97d1-8f36a96df62b"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/v1/keys/{keyId}": {
			"get": {
				"tags": [
					"Keys"
				],
				"summary": "Get properties of API Key.",
				"description": "Get detailed information about an API Key. Will return the following information:\n* **key**: API Key ID.\n* **roles**: array of roles assigned to this API Key. Can be either names of default roles or role IDs.\n* **key_label**: human-readable name for API Key.\n* **remaining_quota**\n    * **quota**: remaining available API Keys\n    * **time**: seconds remaining to te expiration of time frame.\n* **total_quota**: total API key calls that can be performed in time frame. This value is according to organization plan.\n",
				"parameters": [
					{
						"$ref": "#/components/parameters/KeyId"
					}
				],
				"responses": {
					"200": {
						"description": "Returns API Key roles and remaining quota",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"key_label": {
											"type": "string",
											"example": "staging key"
										},
										"key": {
											"type": "string",
											"example": "342"
										},
										"roles": {
											"type": "array",
											"items": {
												"type": "string",
												"example": "admin"
											}
										},
										"remaining_quota": {
											"type": "object",
											"properties": {
												"quota": {
													"type": "number",
													"example": 300
												},
												"time": {
													"type": "number",
													"example": 600
												}
											}
										},
										"total_quota": {
											"type": "number",
											"example": 500
										}
									}
								}
							}
						}
					},
					"404": {
						"description": "Resource not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiError"
								},
								"examples": {
									"API Key not found": {
										"value": {
											"error_id": "0181d42b-ab18-42c6-b8cd-0446fb502885",
											"message": "API Key not found",
											"code": 677013,
											"status": "error"
										}
									}
								}
							}
						}
					}
				}
			},
			"patch": {
				"tags": [
					"Keys"
				],
				"summary": "Change API Key roles or label",
				"description": "Edit roles assigned to an API Key or its label. You can both add and remove roles in a single API call. Request body has the following properties:\n* **roles**\n    * **add**: array containing the roles to be added\n    * **remove**: array containing the roles to be removed\n* **key_label**: human-readable name for API key. \n\nAt least one field has to exist.\\\nRoles values can be default roles (i.e **admin**, **auditor**, etc.) or Role IDs for a custom created roles.\n",
				"parameters": [
					{
						"$ref": "#/components/parameters/KeyId"
					}
				],
				"requestBody": {
					"description": "Contains new roles to be added and roles to be removed.",
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"roles": {
										"type": "object",
										"properties": {
											"add": {
												"type": "array",
												"items": {
													"type": "string",
													"enum": [
														"admin",
														"integration_manager",
														"reseller_admin",
														"subscriber_manager",
														"auditor"
													]
												}
											},
											"remove": {
												"type": "array",
												"items": {
													"type": "string",
													"enum": [
														"admin",
														"integration_manager",
														"reseller_admin",
														"subscriber_manager",
														"auditor"
													]
												}
											}
										}
									},
									"key_label": {
										"type": "string",
										"example": "production key"
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"$ref": "#/components/responses/GenericSuccess"
					},
					"404": {
						"description": "Invalid parameter API Key",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiError"
								},
								"examples": {
									"API Key not found": {
										"value": {
											"error_id": "cf4b29f6-714a-4faf-afce-127e5d49396e",
											"message": "API Key not found",
											"code": 677013,
											"status": "error"
										}
									}
								}
							}
						}
					}
				}
			},
			"delete": {
				"tags": [
					"Keys"
				],
				"summary": "Delete an API Key",
				"description": "Delete the API Key identified by the ID in parameters. All API calls using the API Key will stop working.",
				"parameters": [
					{
						"$ref": "#/components/parameters/KeyId"
					}
				],
				"responses": {
					"200": {
						"$ref": "#/components/responses/GenericSuccess"
					},
					"404": {
						"description": "Resource not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiError"
								},
								"examples": {
									"ApiKey not found": {
										"value": {
											"error_id": "b3ddfe16-d374-47d7-b5a2-3430c970328e",
											"message": "ApiKey not found",
											"code": 677013,
											"status": "error"
										}
									}
								}
							}
						}
					}
				}
			}
		},
		"/v1/clientCredentials": {
			"get": {
				"tags": [
					"ClientCredentials"
				],
				"summary": "List all Client Credentials",
				"description": "Get all Client Credentials of current organization. The following properties will be returned for each Client Credentials:\n* **roles**: array of roles assigned to client credentials.\n* **client_id**: ID of Client Credentials which can be used to authorize requests.\nMore information about each Client Credentials can be obtained by performing a GET operation at _'/clientCredentials/{clientId}'_\n* **label**: human-readable Client Credentials name.\n",
				"responses": {
					"200": {
						"description": "Successful operation",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"type": "object",
										"properties": {
											"roles": {
												"type": "array",
												"items": {
													"type": "string"
												},
												"example": [
													"admin"
												]
											},
											"client_id": {
												"type": "string",
												"example": "60139ed5-240c-478b-bdd8-86512dcda511"
											},
											"label": {
												"type": "string",
												"example": "test client"
											}
										}
									}
								}
							}
						}
					},
					"401": {
						"$ref": "#/components/responses/InvalidCredentials"
					},
					"403": {
						"$ref": "#/components/responses/InsufficientPermissions"
					},
					"429": {
						"$ref": "#/components/responses/RateLimitExceeded"
					},
					"500": {
						"$ref": "#/components/responses/ServerError"
					}
				}
			},
			"post": {
				"tags": [
					"ClientCredentials"
				],
				"summary": "Create Client Credentials",
				"description": "Create a new Client Credentials for current organization. Parameters:\n* **roles**: array of roles the new Client Credentials will have. Can be a default role (i.e **admin**, **auditor**, etc.) or a Role ID for a custom created role.\n* **label**: human-readable Client Credentials name.\n\nParameter **roles** is mandatory. The Client Credentials will have the permissions of the roles assigned.\n",
				"requestBody": {
					"description": "JSON containing desired roles for new Client Credentials.",
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"roles": {
										"type": "array",
										"items": {
											"type": "string",
											"enum": [
												"admin",
												"integration_manager",
												"reseller_admin",
												"subscriber_manager",
												"auditor"
											],
											"example": "admin"
										}
									},
									"label": {
										"type": "string",
										"example": "staging client"
									}
								},
								"required": [
									"roles"
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Returns generated Client Credentials.",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"client_id": {
											"type": "string",
											"example": "7beb8ba4-c8d2-49b2-97d1-8f36a96df62b"
										},
										"client_secret": {
											"type": "string",
											"example": "2gQNeK5cmxyZX5kZ"
										}
									}
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/InvalidParameters"
					},
					"401": {
						"$ref": "#/components/responses/InvalidCredentials"
					},
					"403": {
						"$ref": "#/components/responses/InsufficientPermissions"
					},
					"409": {
						"description": "Processing error due to violations of API restrictions",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiError"
								},
								"examples": {
									"Invalid role array": {
										"value": {
											"error_id": "ba09501c-762f-455f-9356-506aea6f9f63",
											"code": 677018,
											"status": "error",
											"message": "Invalid role array"
										}
									}
								}
							}
						}
					},
					"429": {
						"$ref": "#/components/responses/RateLimitExceeded"
					},
					"500": {
						"$ref": "#/components/responses/ServerError"
					}
				}
			}
		},
		"/v1/clientCredentials/{clientId}": {
			"get": {
				"tags": [
					"ClientCredentials"
				],
				"summary": "Get properties of Client Credentials.",
				"description": "Get detailed information about an Client Credentials. Will return the following information:\n* **client_id**: Client Credentials ID.\n* **roles**: array of roles assigned to this Client Credentials. Can be either names of default roles or role IDs.\n* **label**: human-readable name for Client Credentials.\n* **remaining_quota**\n    * **quota**: remaining available Client Credentials\n    * **time**: seconds remaining to te expiration of time frame.\n* **total_quota**: total Client Credentials calls that can be performed in time frame. This value is according to organization plan.\n",
				"parameters": [
					{
						"$ref": "#/components/parameters/ClientId"
					}
				],
				"responses": {
					"200": {
						"description": "Returns Client Credentials roles and remaining quota",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"label": {
											"type": "string",
											"example": "staging client"
										},
										"client_id": {
											"type": "string",
											"example": "7beb8ba4-c8d2-49b2-97d1-8f36a96df62b"
										},
										"roles": {
											"type": "array",
											"items": {
												"type": "string",
												"example": "admin"
											}
										},
										"remaining_quota": {
											"type": "object",
											"properties": {
												"quota": {
													"type": "number",
													"example": 300
												},
												"time": {
													"type": "number",
													"example": 600
												}
											}
										},
										"total_quota": {
											"type": "number",
											"example": 500
										}
									}
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/InvalidParameters"
					},
					"401": {
						"$ref": "#/components/responses/InvalidCredentials"
					},
					"403": {
						"$ref": "#/components/responses/InsufficientPermissions"
					},
					"404": {
						"description": "Resource not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiError"
								},
								"examples": {
									"Client Credentials not found": {
										"value": {
											"error_id": "0181d42b-ab18-42c6-b8cd-0446fb502885",
											"message": "ClientCredentials not found",
											"code": 677013,
											"status": "error"
										}
									}
								}
							}
						}
					},
					"429": {
						"$ref": "#/components/responses/RateLimitExceeded"
					},
					"500": {
						"$ref": "#/components/responses/ServerError"
					}
				}
			},
			"patch": {
				"tags": [
					"ClientCredentials"
				],
				"summary": "Change Client Credentials roles or label",
				"description": "Edit roles assigned to an Client Credentials or its label. You can both add and remove roles in a single API call. Request body has the following properties:\n* **roles**\n    * **add**: array containing the roles to be added\n    * **remove**: array containing the roles to be removed\n* **label**: human-readable name for Client Credentials. \n\nAt least one field has to exist.\\\nRoles values can be default roles (i.e **admin**, **auditor**, etc.) or Role IDs for a custom created roles.\n",
				"parameters": [
					{
						"$ref": "#/components/parameters/ClientId"
					}
				],
				"requestBody": {
					"description": "Contains new roles to be added and roles to be removed.",
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"roles": {
										"type": "object",
										"properties": {
											"add": {
												"type": "array",
												"items": {
													"type": "string",
													"enum": [
														"admin",
														"integration_manager",
														"reseller_admin",
														"subscriber_manager",
														"auditor"
													]
												}
											},
											"remove": {
												"type": "array",
												"items": {
													"type": "string",
													"enum": [
														"admin",
														"integration_manager",
														"reseller_admin",
														"subscriber_manager",
														"auditor"
													]
												}
											}
										}
									},
									"label": {
										"type": "string",
										"example": "production client"
									}
								}
							}
						}
					}
				},
				"responses": {
					"200": {
						"$ref": "#/components/responses/GenericSuccess"
					},
					"400": {
						"$ref": "#/components/responses/InvalidParameters"
					},
					"401": {
						"$ref": "#/components/responses/InvalidCredentials"
					},
					"403": {
						"$ref": "#/components/responses/InsufficientPermissions"
					},
					"404": {
						"description": "Invalid parameter Client Credentials",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiError"
								},
								"examples": {
									"ClientCredentials not found": {
										"value": {
											"error_id": "cf4b29f6-714a-4faf-afce-127e5d49396e",
											"message": "ClientCredentials not found",
											"code": 677013,
											"status": "error"
										}
									}
								}
							}
						}
					},
					"409": {
						"description": "Processing error due to violations of API restrictions",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiError"
								},
								"examples": {
									"Invalid role array": {
										"value": {
											"error_id": "ba09501c-762f-455f-9356-506aea6f9f63",
											"code": 677018,
											"status": "error",
											"message": "Invalid role array"
										}
									}
								}
							}
						}
					},
					"429": {
						"$ref": "#/components/responses/RateLimitExceeded"
					},
					"500": {
						"$ref": "#/components/responses/ServerError"
					}
				}
			},
			"delete": {
				"tags": [
					"ClientCredentials"
				],
				"summary": "Delete an Client Credentials",
				"description": "Delete the Client Credentials identified by the ID in parameters. All API calls using the token Client Credentials will stop working.",
				"parameters": [
					{
						"$ref": "#/components/parameters/ClientId"
					}
				],
				"responses": {
					"200": {
						"$ref": "#/components/responses/GenericSuccess"
					},
					"400": {
						"$ref": "#/components/responses/InvalidParameters"
					},
					"401": {
						"$ref": "#/components/responses/InvalidCredentials"
					},
					"403": {
						"$ref": "#/components/responses/InsufficientPermissions"
					},
					"404": {
						"description": "Resource not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiError"
								},
								"examples": {
									"ClientCredentials not found": {
										"value": {
											"error_id": "b3ddfe16-d374-47d7-b5a2-3430c970328e",
											"message": "ClientCredentials not found",
											"code": 677013,
											"status": "error"
										}
									}
								}
							}
						}
					},
					"429": {
						"$ref": "#/components/responses/RateLimitExceeded"
					},
					"500": {
						"$ref": "#/components/responses/ServerError"
					}
				}
			}
		},
		"/v1/clientCredentials/{clientId}/downloads": {
			"get": {
				"tags": [
					"ClientCredentials"
				],
				"summary": "Download a csv file containing client secret",
				"description": "Retrieve client secret of the given client id. This API can be called only using a Bearer token. The ApiKey/ClientCredentials authenticated calls will receive an authentication error.\nClient secret can be downloaded only one time per client credentials\n",
				"parameters": [
					{
						"$ref": "#/components/parameters/ClientId"
					}
				],
				"responses": {
					"200": {
						"description": "Returns a csv file client_id and client_secret",
						"content": {
							"text/csv": {
								"schema": {
									"type": "object"
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/InvalidParameters"
					},
					"401": {
						"$ref": "#/components/responses/InvalidCredentials"
					},
					"403": {
						"$ref": "#/components/responses/InsufficientPermissions"
					},
					"404": {
						"description": "Resource not found",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiError"
								},
								"examples": {
									"Client Credentials not found": {
										"value": {
											"error_id": "0181d42b-ab18-42c6-b8cd-0446fb502885",
											"message": "ClientCredentials not found",
											"code": 677013,
											"status": "error"
										}
									}
								}
							}
						}
					},
					"409": {
						"description": "Error in case client_secret has been already downloaded",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiError"
								},
								"examples": {
									"Client_secret already downloaded": {
										"value": {
											"error_id": "25e42568-d674-4406-92a7-f3f32799c25d",
											"code": 677012,
											"status": "error",
											"message": "Client_secret already downloaded"
										}
									}
								}
							}
						}
					},
					"429": {
						"$ref": "#/components/responses/RateLimitExceeded"
					},
					"500": {
						"$ref": "#/components/responses/ServerError"
					}
				}
			}
		},
		"/v1/tokens": {
			"post": {
				"tags": [
					"Tokens"
				],
				"summary": "Generate new JWT token based on Client Credentials",
				"description": "Create a new token based on Client Credentials. Parameters:\n* **client_id**: ID of the client credentials.\n* **client_secret**: Secret for the client credentials\n* **grant**: client_credentials\nAll parameters are mandatory.\n",
				"requestBody": {
					"description": "JSON containing desired roles for new Token.",
					"content": {
						"application/json": {
							"schema": {
								"type": "object",
								"properties": {
									"client_id": {
										"type": "string",
										"example": "7beb8ba4-c8d2-49b2-97d1-8f36a96df62b"
									},
									"client_secret": {
										"type": "string",
										"example": "dfsdFDSFjfdsfkjdshDSAFDSJKdfssdk"
									},
									"grant": {
										"type": "string",
										"enum": [
											"client_credentials"
										],
										"example": "client_credentials"
									}
								},
								"required": [
									"client_id",
									"client_secret",
									"grant"
								]
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Returns generated token.",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"token": {
											"type": "string",
											"description": "The token.",
											"example": "eyJ0eXAiOiJhdCtqd3QiLCJhbGciOiJFUzI1NiIsImtpZCI6Ill2VkJjd3ZQZlAiLCJ4NXQiOiJLUExfQy1NUW"
										},
										"expires_in": {
											"type": "number",
											"description": "The token validity in seconds.",
											"example": 1235
										},
										"type": {
											"type": "string",
											"description": "The token type.",
											"enum": [
												"Bearer"
											],
											"example": "Bearer"
										}
									}
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/InvalidParameters"
					},
					"401": {
						"$ref": "#/components/responses/InvalidCredentials"
					},
					"403": {
						"$ref": "#/components/responses/InsufficientPermissions"
					},
					"429": {
						"$ref": "#/components/responses/RateLimitExceeded"
					},
					"500": {
						"$ref": "#/components/responses/ServerError"
					}
				}
			},
			"delete": {
				"tags": [
					"Tokens"
				],
				"summary": "Invalidates a token generated for Client Credentials",
				"description": "Invalidates token from Authorization header\n",
				"responses": {
					"200": {
						"$ref": "#/components/responses/GenericSuccess"
					},
					"401": {
						"$ref": "#/components/responses/InvalidCredentials"
					},
					"403": {
						"$ref": "#/components/responses/InsufficientPermissions"
					}
				}
			}
		},
		"/v1/subscribers": {
			"get": {
				"tags": [
					"Subscribers"
				],
				"summary": "List subscribers",
				"description": "List all subscribers of your organization. Information will be paginated, with a default value of 20 entries per page. The subscribers can be filtered using the following criteria:\n* `product_id`\n* `state`\n* `suspended`\n* `subscription_state`\n* `created_from`\n* `created_to`\n* `email`\n\nBeside the list of subscribers, the response will contain the total number of subscribers matched by the filters and a query identifier which can be used in executing tasks.\n",
				"parameters": [
					{
						"$ref": "#/components/parameters/Page"
					},
					{
						"$ref": "#/components/parameters/Limit"
					},
					{
						"name": "product_id",
						"in": "query",
						"description": "The ID of the product assigned. If specified, only the subscribers that own the product will be returned",
						"required": false,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "state",
						"in": "query",
						"required": false,
						"description": "The state of the subscriber. If specified, only the subscribers in this state will be returned",
						"schema": {
							"$ref": "#/components/schemas/Subscriber/properties/state"
						}
					},
					{
						"name": "suspended",
						"description": "The product suspended flag. If specified, only the subscribers having a product in the state provided will be returned",
						"in": "query",
						"required": false,
						"schema": {
							"type": "boolean",
							"enum": [
								true,
								false
							]
						},
						"deprecated": true
					},
					{
						"name": "subscription_state",
						"description": "The subscription state (active / suspended / trial / none). If specified, only the subscribers having a subscription in the state provided will be returned.",
						"in": "query",
						"required": false,
						"schema": {
							"type": "string",
							"enum": [
								"active",
								"suspended",
								"trial",
								"none"
							]
						}
					},
					{
						"name": "created_to",
						"in": "query",
						"description": "The millisecond timestamp when the subscriber was created. It works as a range filter and is used together with the `created_from` parameter. If this parameter is not specified and the `created_from` is specified, then this parameter will default to _now timestamp_ (the moment of the request)",
						"required": false,
						"schema": {
							"$ref": "#/components/schemas/Timestamp"
						}
					},
					{
						"name": "created_from",
						"required": false,
						"description": "The millisecond timestamp when the subscriber was created. It works as a range filter and is used together with the `created_to` parameter. If this parameter is not specified and the `created_to` is specified, then this parameter will default to _0_ (the moment of the request)",
						"in": "query",
						"schema": {
							"$ref": "#/components/schemas/Timestamp"
						}
					},
					{
						"name": "email",
						"in": "query",
						"required": false,
						"description": "Email regex filter. If specified, only the subscribers whose email is matching the regex will be returned",
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "Returns the list of subscribers",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"subscribers": {
											"type": "array",
											"items": {
												"type": "object",
												"properties": {
													"subscriber_id": {
														"allOf": [
															{
																"$ref": "#/components/schemas/Subscriber/properties/subscriber_id"
															}
														]
													},
													"email": {
														"allOf": [
															{
																"$ref": "#/components/schemas/Subscriber/properties/email"
															}
														]
													},
													"phone": {
														"allOf": [
															{
																"$ref": "#/components/schemas/Subscriber/properties/phone"
															}
														]
													},
													"username": {
														"allOf": [
															{
																"$ref": "#/components/schemas/Subscriber/properties/username"
															}
														]
													},
													"external_subscriber_id": {
														"allOf": [
															{
																"$ref": "#/components/schemas/Subscriber/properties/external_subscriber_id"
															}
														]
													},
													"state": {
														"allOf": [
															{
																"$ref": "#/components/schemas/Subscriber/properties/state"
															}
														]
													},
													"created": {
														"allOf": [
															{
																"$ref": "#/components/schemas/Subscriber/properties/created"
															}
														]
													},
													"subscriptions": {
														"type": "array",
														"items": {
															"type": "object",
															"properties": {
																"product_id": {
																	"type": "string",
																	"example": "bitdefender-av-10device"
																},
																"subscription_id": {
																	"type": "string",
																	"example": "f6b8bc79-6ccd-474c-bc00-f1c22267d7e2"
																},
																"state": {
																	"type": "string",
																	"example": "suspended"
																}
															}
														}
													}
												}
											}
										},
										"count": {
											"$ref": "#/components/schemas/QueryCount"
										},
										"query_hash": {
											"$ref": "#/components/schemas/QueryHash"
										}
									}
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/InvalidParameters"
					},
					"401": {
						"$ref": "#/components/responses/InvalidCredentials"
					},
					"403": {
						"$ref": "#/components/responses/InsufficientPermissions"
					},
					"404": {
						"$ref": "#/components/responses/SubscriberNotFound"
					},
					"429": {
						"$ref": "#/components/responses/RateLimitExceeded"
					},
					"500": {
						"$ref": "#/components/responses/ServerError"
					}
				}
			},
			"post": {
				"tags": [
					"Subscribers"
				],
				"summary": "Create new subscriber",
				"description": "Create a new subscriber for the current organization. A new subscriber can be created using his email address, phone number or username (**you will have to provide only one of them**). If the organization is using the Bitdefender login services, with invite email activated, the subscriber will receive an email with details on how he can complete the enrolment process. The enrolment URL sent in the invite email is also returned on the successful response for this API (this is useful when the invite email are turned off, allowing the organization to deliver the URL through other means).\n\nIf the organization is using an External SSO, then no enrolment URL is generated. The enrolment process will be automatically completed when the subscriber is logging in for the first time in the Bitdefender applications. If the organization has the share link feature activated, the enrollment process ends when the user adds the first device to its account (a device that has installed a Bitdefender product - rebranded or not - that is using a subscription slot).\n\nThe subscriber will appear with state `pending` until the enrolment process is complete. When the subscriber completes the enrolment process then the state will change to `active`.\n\nAn organization can create a subscriber if the `commercial_contact`, `organization_name`, `organization_website`, `organization_logo` and `login_type` are configured for the organization and if `organization_type` is different than `system_integrator`. For organization that are _oem operators_ the `oem_label` must be also set in order to be able to create subscribers.\nFor the `commercial_contact` of the organization, the `website` field is mandatory, while the `phone` and `email` fields are optional, but recommended to be completed.\n\nParameters\n  * `email`\n  * `phone`\n  * `username`\n  * `external_subscriber_id`\n  * `lang`\n\nThe fields `email`, `phone` and `username` cannot be used at the same time and at least one of them should be present. The fields `phone` and `username` cannot be used to enrol subscribers if the organization is using Bitdefender login services.\n\nSubscribers can be enrolled by using just the `external_subscriber_id field`, but only if the organization is using the Bitdefender login services (with Download Links feature `disabled`) or external login configuration of SSO type OTP, thus the organizations which are using the Bitdefender login services and have the Download Links feature `enabled` the `email` is required.\n\nIn the case of Bitdefender login services, the `email` will be provided by the subscriber on account confirmation and will be unavailable in MSP API/console. Please note that in this case the enrol URL will only be returned in the response of this API (since no email address is available, the enrolment email cannot be sent).\\\nThe `lang` parameter is provided here to override the default subscriber language set for the organization (if you did not set the `lang` then by default _**English US**_) is used\n",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"oneOf": [
									{
										"type": "object",
										"properties": {
											"email": {
												"allOf": [
													{
														"$ref": "#/components/schemas/Subscriber/properties/email"
													}
												]
											},
											"external_subscriber_id": {
												"allOf": [
													{
														"$ref": "#/components/schemas/Subscriber/properties/external_subscriber_id"
													}
												]
											},
											"lang": {
												"allOf": [
													{
														"$ref": "#/components/schemas/Lang"
													}
												]
											}
										},
										"required": [
											"email"
										]
									},
									{
										"type": "object",
										"properties": {
											"phone": {
												"allOf": [
													{
														"$ref": "#/components/schemas/Subscriber/properties/phone"
													}
												]
											},
											"external_subscriber_id": {
												"allOf": [
													{
														"$ref": "#/components/schemas/Subscriber/properties/external_subscriber_id"
													}
												]
											},
											"lang": {
												"allOf": [
													{
														"$ref": "#/components/schemas/Lang"
													}
												]
											}
										},
										"required": [
											"phone"
										]
									},
									{
										"type": "object",
										"properties": {
											"username": {
												"allOf": [
													{
														"$ref": "#/components/schemas/Subscriber/properties/username"
													}
												]
											},
											"external_subscriber_id": {
												"allOf": [
													{
														"$ref": "#/components/schemas/Subscriber/properties/external_subscriber_id"
													}
												]
											},
											"lang": {
												"allOf": [
													{
														"$ref": "#/components/schemas/Lang"
													}
												]
											}
										},
										"required": [
											"username"
										]
									},
									{
										"type": "object",
										"properties": {
											"external_subscriber_id": {
												"allOf": [
													{
														"$ref": "#/components/schemas/Subscriber/properties/email"
													}
												]
											},
											"lang": {
												"allOf": [
													{
														"$ref": "#/components/schemas/Lang"
													}
												]
											}
										},
										"required": [
											"external_subscriber_id"
										]
									}
								]
							},
							"example": {
								"email": "subscriber@bitdefender.com",
								"external_subscriber_id": "bc320e5f8c8d8cf4fc8e2a7d43b29c9f7f1865fb0bf84d0ccb1a390d03fffe6e"
							}
						}
					}
				},
				"responses": {
					"200": {
						"description": "Subscriber successfully created.",
						"content": {
							"application/json": {
								"schema": {
									"type": "object",
									"properties": {
										"subscriber_id": {
											"allOf": [
												{
													"$ref": "#/components/schemas/Subscriber/properties/subscriber_id"
												}
											]
										},
										"enrol_url": {
											"allOf": [
												{
													"$ref": "#/components/schemas/Subscriber/properties/enrol_url/properties/value"
												}
											]
										}
									}
								}
							}
						}
					},
					"400": {
						"$ref": "#/components/responses/InvalidParameters"
					},
					"401": {
						"$ref": "#/components/responses/InvalidCredentials"
					},
					"403": {
						"$ref": "#/components/responses/InsufficientPermissions"
					},
					"404": {
						"$ref": "#/components/responses/SubscriberNotFound"
					},
					"409": {
						"description": "Processing error due to violations of API restrictions",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ApiError"
								},
								"examples": {
									"Incomplete organization contact": {
										"$ref": "#/components/examples/InvalidContactError"
									},
									"Invalid organization type": {
										"$ref": "#/components/examples/InvalidTypeError"
									},
									"Incomplete login type": {
										"$ref": "#/components/examples/InvalidLoginError"
									},
									"Subscriber limit exceeded": {
										"$ref": "#/components/examples/LimitExceededError"
									},
									"Missing OEM label": {
										"$ref": "#/components/examples/MissingOemLabelError"
									},
									"Login type incompatible with subscriber identifiers": {
										"value": {
											"error_id": "c0b7e1e7-a841-4f01-8d22-b55b0b4450ff",
											"code": 677012,
											"status": "error",
											"message": "Login type incompatible with subscriber identifiers"
										},
[...]
